.countdown {
  color: #fff;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.countdown h1 {
  font-weight: normal;
  font-size: 32px;
  margin: -150px 0 40px;
}

.countdown {
  display: flex;
  transform: scale(2);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  margin: 0 0 5px;
}

/* @media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }
  .time {
    margin: 5px;
  }
  .time h2 {
    font-size: 12px;
  }
  .time small {
    font-size: 10px;
  }
} */
