/* COMMON */
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
  line-height: 1.6;
  text-decoration: none;
  letter-spacing: -0.03em;
}

p {
  line-height: 1.6;
}
a {
  color: #fff;
  text-decoration: none;
}

img {
  position: relative;
  width: 1920px;
  height: 1080px;
}

/* 가운데 정렬 */
.inner {
  width: 100%;
  margin: 0 auto; /* 외부여백 위아래는 0 좌우는 auto */
  position: relative;
  overflow-x: hidden; /* 아이폰 가로 스크롤 방지 */
}
.container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
}

/* HEADER */
header {
  width: 100%;
  background-color: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 9;
}

header > .inner {
  height: 100px;
}

header .main-menu {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

header .main-menu .main-menu-list {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

header .main-menu .main-menu-list .menu_name {
  padding: 20px 20px 34px 20px;
  font-size: 16px;
}

header .main-menu .main-menu-list:hover .menu_name {
  color: #0061b0;
  font-weight: 400;
  width: 120%;
  border-radius: 6px 6px 0 0;
}

header .main-menu .main-menu-list .menu_contents {
  width: 100%;
  position: fixed;
  float: left;
  text-align: center;
  display: none;
}

header .main-menu .main-menu-list:hover .menu_contents {
  top: 50px;
  display: flex;
}

header .main-menu .main-menu-list .menu_contents .contents_menu {
  background-color: #0061b0;
  position: relative;
  border-radius: 10px 10px;
}

header .main-menu .main-menu-list .menu_contents .contents_menu > ul {
  display: flex; /* 배열 */
  padding: 10px 3px;
}

header .main-menu .main-menu-list .menu_contents .contents_menu > ul > li {
  width: 143px;
  font-size: 12px;
  font-weight: 200;
  color: #fff;
}

/* SECTION */

.scroll-section {
  position: relative;
  padding-top: 50vh;
}

/* Section0 - 인트로 */
#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  opacity: 0;
}
.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}

/* Section1 - 인트로 리스트 */
#scroll-section-1 .section1-container {
  /* background-color: yellow; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#scroll-section-1 p {
  color: #005bac;
  text-align: center;
  justify-content: center;
  padding-top: 160px;
  height: 100vh;
}

.ribbon-path {
  width: 100%;
  right: 0;
  top: 66%;
  margin-bottom: 1200%;
  /* min-width: 850px; */
  transform: translate(-10%, -60%);
}
.ribbon-path path {
  fill: none;
  stroke: #00afec;
  opacity: 0.8;
  stroke-width: 37;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1401, 1401;
  stroke-dashoffset: 1401;
}

.scroll-section-list1,
.scroll-section-list2,
.scroll-section-list3 {
  width: 100%;
  height: 100%;
}
.section-description strong {
  font-size: 6rem;
}
*/

/* Section2 - 공개행정 */
#scroll-section-2 {
  position: relative;
  text-align: left;
  font-size: 1.4rem;
}

#scroll-section-2 .main-message {
  bottom: 20px;
  text-align: center;
}

#scroll-section-2 strong {
  font-size: 4.4rem;
}

/* Section3 - 참여행정 */
#scroll-section-3 {
  position: relative;
}

#scroll-section-3 .main-message {
  font-size: 1.4rem;
  margin-top: -20px;
  margin-left: 60px;
}

#scroll-section-3 strong {
  font-size: 4.4rem;
}

#video-canvas-3 {
  position: relative;
  width: 50%;
  height: 70%;
  margin-right: 60px;
  float: right;
  top: 200px;
}

/* Section4 - 능률행정 */

#scroll-section-4 {
  position: relative;
}

#scroll-section-4 .main-message {
  font-size: 1.4rem;
  text-align: right;
  margin-top: -20px;
  margin-left: -60px;
}

#scroll-section-4 strong {
  font-size: 4.4rem;
}

#video-canvas-4 {
  position: relative;
  float: left;
  margin-left: 60px;
  top: 120px;
}

/* Section5 - 마무리 */

#scroll-section-5 {
  position: relative;
  background-color: #fff;
}

#scroll-section-5 h1 {
  position: relative;
  z-index: 5;
  font-size: 6rem;
  text-align: center;
  font-weight: 600;
}
#scroll-section-5 .main-message {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  opacity: 0;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem,
#show-scene-4 #scroll-section-4 .sticky-elem,
#show-scene-5 #scroll-section-5 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: #000;
  background-color: #fff;
  font-size: 1.4rem;
  letter-spacing: 1rem;
}

/* @media only screen and (max-width: 416px) {
  .header {
    font-size: 2vw;
  }
} */

@media screen and (min-width: 416px) {
  .header .main-menu {
    font-size: 1vw;
  }
  #scroll-section-0 h1 {
    font-size: 5vw;
  }
  .main-message {
    font-size: 6vw;
  }
  .description {
    padding: 0;
    font-size: 4rem;
  }
  .description strong {
    font-size: 6rem;
  }

  .sticky-elem-canvas {
    size: 50%;
  }
}
