/* COMMON */
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
  line-height: 1.6;
  text-decoration: none;
  letter-spacing: -0.03em;
}

p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

/* 가운데 정렬 */
.inner {
  width: 100%;
  margin: 0 auto; /* 외부여백 위아래는 0 좌우는 auto */
  position: relative;
  overflow-x: hidden; /* 아이폰 가로 스크롤 방지 */
}
.container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
}

/* HEADER */
header {
  width: 100%;
  background-color: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 9;
}

header > .inner {
  height: 100px;
}

header .main-menu {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

header .main-menu .main-menu-list {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

header .main-menu .main-menu-list .menu_name {
  padding: 20px 20px 34px 20px;
  font-size: 16px;
}

header .main-menu .main-menu-list:hover .menu_name {
  color: #0061b0;
  font-weight: 400;
  width: 120%;
  border-radius: 6px 6px 0 0;
}

header .main-menu .main-menu-list .menu_contents {
  width: 100%;
  position: fixed;
  float: left;
  text-align: center;
  display: none;
}

header .main-menu .main-menu-list:hover .menu_contents {
  top: 50px;
  display: flex;
}

header .main-menu .main-menu-list .menu_contents .contents_menu {
  background-color: #0061b0;
  position: relative;
  border-radius: 10px 10px;
}

header .main-menu .main-menu-list .menu_contents .contents_menu > ul {
  display: flex; /* 배열 */
  padding: 10px 3px;
}

header .main-menu .main-menu-list .menu_contents .contents_menu > ul > li {
  width: 143px;
  font-size: 12px;
  font-weight: 200;
  color: #fff;
}

/* SECTION */
.scroll-section {
  position: relative;
  padding-top: 50vh;
  border: 3px solid red;
}
#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
}
.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
}
.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
#scroll-section-2 .main-message {
  font-size: 3.5rem;
}
.description {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}
.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: rgb(29, 29, 31);
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

#scroll-section-0 {
  position: sticky;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}
