/* COMMON */
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
  line-height: 1.6;
  text-decoration: none;
  letter-spacing: -0.03em;
}

p {
  line-height: 1.6;
}
a {
  color: #fff;
  text-decoration: none;
}

img {
  position: relative;
  width: 1920px;
  height: 1080px;
}

/* 가운데 정렬 */
.inner {
  width: 100%;
  margin: 0 auto; /* 외부여백 위아래는 0 좌우는 auto */
  position: relative;
  overflow-x: hidden; /* 아이폰 가로 스크롤 방지 */
}
.container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
}

/* HEADER */
header {
  width: 100%;
  background-color: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 9;
}

header > .inner {
  height: 100px;
}

header .main-menu {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

header .main-menu .main-menu-list {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

header .main-menu .main-menu-list .menu_name {
  padding: 20px 20px 34px 20px;
  font-size: 16px;
}

header .main-menu .main-menu-list:hover .menu_name {
  color: #0061b0;
  font-weight: 400;
  width: 120%;
  border-radius: 6px 6px 0 0;
}

header .main-menu .main-menu-list .menu_contents {
  width: 100%;
  position: fixed;
  float: left;
  text-align: center;
  display: none;
}

header .main-menu .main-menu-list:hover .menu_contents {
  top: 50px;
  display: flex;
}

header .main-menu .main-menu-list .menu_contents .contents_menu {
  background-color: #0061b0;
  position: relative;
  border-radius: 10px 10px;
}

header .main-menu .main-menu-list .menu_contents .contents_menu > ul {
  display: flex; /* 배열 */
  padding: 10px 3px;
}

header .main-menu .main-menu-list .menu_contents .contents_menu > ul > li {
  width: 143px;
  font-size: 12px;
  font-weight: 200;
  color: #fff;
}

/* SECTION */

.scroll-section {
  position: relative;
  padding-top: 50vh;
}

/* Section0 - 인트로 */
#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
}
.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}

/* Section1 - 인트로 리스트 */
#scroll-section-1 .section1-container {
  /* background-color: yellow; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#scroll-section-1 p {
  color: #fff;
  text-align: center;
  justify-content: center;
  padding-top: 160px;
  height: 100vh;
}

/* #scroll-section-1 p strong {
    font-size: 64px;
} */

.scroll-section-list1,
.scroll-section-list2,
.scroll-section-list3 {
  width: 100%;
  height: 100%;
}

.scroll-section-list1 p {
  background: url("../img/인하실록.jpg");
}

.scroll-section-list2 p {
  background: url("../img/CrowdMoment.jpg");
}

.scroll-section-list3 p {
  background: url("../img/NightMoment.jpg");
}

.section-description {
  position: relative;
  float: right;
  margin-left: 10px;
  margin-right: 100px;
  margin-top: 320vh;
  /* max-width: 1000px; */
  padding: 0 1rem;
  font-size: 1.4rem;
  z-index: 9;
}

.section-description strong {
  margin-right: 0.2em;
  font-size: 4.4rem;
}

/* Section2 - 공개행정 */

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

#scroll-section-2 .description {
  text-align: center;
  position: fixed;
}

/* Section3 - 참여행정 */
#scroll-section-3 {
  position: relative;
}

#scroll-section-3 .description {
  padding: 0 1rem;
  font-size: 1.4rem;
  margin-top: 300vh;
  margin-left: 80px;
}

#scroll-section-3 .description strong {
  font-size: 4.4rem;
}

#video-canvas-3 {
  position: relative;
  width: 50%;
  height: 70%;
  float: right;
  top: 200px;
  margin-right: 20px;
}

/* Section4 - 능률행정 */

#scroll-section-4 {
  position: relative;
  text-align: center;
}

#scroll-section-4 .description {
  position: relative;
  padding: 0 1rem;
  font-size: 1.4rem;
  z-index: 9;
}

#scroll-section-4 .description strong {
  font-size: 4.4rem;
}

#video-canvas-4 {
  position: fixed;
  left: 0;
  right: 0;
  margin-top: 140px;
  margin-left: 300px;
  text-align: center;
  z-index: -1;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem,
#show-scene-4 #scroll-section-4 .sticky-elem,
#show-scene-5 #scroll-section-5 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 
#scroll-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1rem;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    padding: 0;
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .sticky-elem.desc-message {
    width: 20%;
  }
  #scroll-section-2 .b {
    top: 20%;
    left: 53%;
  }
  #scroll-section-2 .c {
    left: 55%;
  }
  .mid-message {
    width: 1000px;
    padding: 0;
    font-size: 4vw;
  }
  .canvas-caption {
    margin-top: -8rem;
    padding: 0;
    font-size: 2rem;
  }
}
